.safe-area-container {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

/* .navbar {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1040;
} */

.sidebarLabel {
  color: #fff;
  font-size: 4px;
  font-weight: 1000;
  margin: 5px 0 0 10px;
}

.offcanvas {
  --bs-offcanvas-width: 80px;
  background-color: orange;
  z-index: 1050;
}

.btn-close-custom {
  width: 10px; /* Adjust this as per your requirement */
  height: 10px;
  position: absolute;
  left: 80px; /* Adjust this to position the button closer/farther from the left edge */
  top: 30px; /* Adjust this to position the button closer/farther from the top */
}

.app-container {
  width: 430px;
  height: 932px;
  margin: 0 auto; /* This will center the container horizontally */
  overflow: hidden; /* This will hide anything that overflows the container's dimensions */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease;
}

/* Sidebar customization */
.offcanvas-header {
  background-color: orange;
  color: #fff;
  padding: 0;
}
.offcanvas-body {
  background-color: orange;
}

.offcanvas-body ul.list-unstyled {
  padding: 0;
  margin: 0;
}

.offcanvas-body ul.list-unstyled li {
  list-style-type: none;
  padding: 10px 0;
}

.offcanvas-body ul.list-unstyled li a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.offcanvas-body ul.list-unstyled li a:hover {
  color: #0056b3;
}
