.shoppingCart {
  width: 50px;
  display: flex;
  justify-content: end;
}

.container {
  display: flex;
  justify-content: end;
  margin-bottom: auto;
  background-color: rgba(250, 207, 132, 0.277);
}
