.shoppingCart {
  width: 50px;
  display: flex;
  justify-content: end;
}

.container {
  display: flex;
  justify-content: end;
  margin-bottom: auto;
}



.homepage-shoppingNavbars {
  margin-top: auto;
  /* Pushes the navbar to the bottom of the flex container */
}