
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* This ensures your container takes the full height of the viewport. Adjust as needed. */
  /* Remove padding-left: 80px; if it's there */
  /* other styles... */
}



.webcamContainer {
  position: relative;
  width: 200px; /* Adjust based on your preference for the QR code size */
  height: 200px;
  overflow: hidden;
  /* padding-left: 80px; */
}

.webcamInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust as per your design requirements. */
  height: 100%; /* Adjust based on your needs to ensure the webcam fills this container. */
  /* other styles... */
}

/* .webcamInner video {
  position: absolute;
  top: -25%; 
  left: -25%;
  width: 150%;
  height: 150%;
} */