.gradient-custom {
  /* Assuming you've defined a custom gradient here */
}

.card-custom {

  color: 007BFF;
  border-radius: 1rem;
}

.font-size-lg {
  font-size: 1.5em; /* Adjust this value as needed */
}


.greenClass{
  background-color: #07d136;
}

.blueClass{
  background-color: #007bff;
}