/* AdminOrderRecordPage.module.css */

.big-container{
  padding-left: 90px;
  padding-right:10px;
  padding-top: 50px;

}

.order-status-container {
  color: #ffffff;
  display: flex;
  background-color: #007bff; /* Bootstrap primary blue color */
  /* border: 2px solid black; */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  margin-top: 20px; /* Adds some space between the button and container */
}

.first-column,
.second-column {
  flex: 1;
  padding: 10px;
}

.title,
.item {
  padding: 5px 0;
  font-size: 20px;
}

.title {
  font-weight: bold;
}

.item {
  color: #ffffff; /* or any other color you prefer */
}
.not-completed {
  background-color: rgba(255, 0, 0, 0.561);
}

.delivered {
  background-color: rgba(0, 0, 255, 0.603);
}
