.navbarControl {
  display: flex;
  justify-content: center;
  background-color: orange;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-left: 5px;
}

.cardItem {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.homepage-shoppingNavbars{
  display: flex;
  justify-content: center;
  
}