.foodTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.foodOption {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 235, 224);
  text-align: center;
}

/* .optionLeft {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
} */

/* .optionRight {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
} */

.shoppingCarNavbars {
  margin-top: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffc107;
  padding: 0 10px;
}
.menuTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.returnButton,
.spacer {
  width: 50px; /* for example, or whatever width suits your design */
  flex-shrink: 0; /* Prevents shrinking */
  /* Add other styles as needed */
}

.returnButton {
  background-color: #ffc107;
  color: black;
  width: auto;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.option {
  display: flex;
  justify-content: space-between;
}
